# 0-._.-._.-._.-._.-._.-._.-0-._.-._.-._.-._.-._.-._.-0-._.-._.-._.-._.-._.-._.-0
#  Required Libraries
# 0-._.-._.-._.-._.-._.-._.-0-._.-._.-._.-._.-._.-._.-0-._.-._.-._.-._.-._.-._.-0

pytube3==9.6.4              # This is required to download YouTube videos
